/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 11.52.47
    Author     : Andrea Corronca
*/

body{
    background-color: white;
    color: #2F4F4F;
    font-family:sans-serif;
}

.post{
    padding-top: 80px;
    font-size: 30px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 3px solid #E9967A;
    border-right: 3px solid #E9967A;
}

.navigation{
    float: top;
    height:100px;
    border: 3px solid #E9967A;
    margin-left: 5px;
}

.title{
    font-size: 30px;
    height: 70px;
    width: 257px;
    border-right: 3px solid #E9967A;
    float:left;
    text-align: center;
    padding-top: 30px;
}


.bar1{
    float:left;
    width: 255px;
    height: 70px;   
    text-align: center;
    padding-top: 30px;
}

.bar2{
    float: left;
    border-left: 3px solid #E9967A;
    width: 255px;
    height: 70px;
    text-align: center;
    padding-top: 30px;
}

.barProfile{
    float: left;
    border-left: 3px solid #E9967A;
    height: 100px;
    padding-left: 900px;
}

.bar3{
    float: left;
    border-left: 3px solid #E9967A;
    width: 255px;
    height: 70px;
    text-align: center;
    padding-top: 30px;
}

.barleft{
    width: 222px;
    height: 1419px;
    float: left;
    margin-left: 5px;
    border-left: 3px solid #E9967A;
    border-right: 3px solid #E9967A;
    border-bottom: 3px solid #E9967A;
    padding-left: 35px;
    padding-top: 50px;
}

.barright{
    margin-left: 268px;
}

.account{
    font-size: 20px;
    border: 3px solid #E9967A;
}

.autore{
    border-top: 3px solid #E9967A;
    border-bottom: 3px solid #E9967A;
    height: 120px;
}

.img-prof{
    height: 80px;
    margin-left: 40px;
    float:left;
    margin: 20px;
    border: 3px solid #E9967A;
}

.nome-prof{
    margin-left: 90px;
}

h1{
    font-size: 40px;
    margin: 0px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 15px;
    text-decoration: underline;
}

.form{
    margin: 50px auto;
    border: 3px solid #E9967A;
    width: 200px;
    height: 200px;
    font-size: 20px;
    text-align: center;
}

.invia{
    margin-top: 33px;
}

label:before{
    content: '\A';
    white-space: pre;
}


.Nerdbook{
    margin: 60px auto;
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
}

.formProfilo{
    margin-left: 263px;
    padding: 30px;
    font-size: 30px;
}

a:link{
    font-size: 30px;
}

a:visited{
    color: purple;
}

a:link:hover{
    font-size: 50px;
}